<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <!--是否启用了数据库镜像功能，如果启用了该功能，则在运行存储过程时，系统会根据存储过程名称查找对应的数据库连接字符串来运行-->
    <add key="DatabaseMirrorEnabled" value="false" />
    <!--是否记录数据库的存储过程运行日志-->
    <add key="WriteProcedureRunLog" value="false" />
    <!--应用程序名称-->
    <add key="ApplicationName" value="MCSFramework4"/>
    <!--全局页面默认的标题-->
    <add key="PageTitle" value="南京美驰营销管理系统"/>
    <!--Model实例保留在Cache中的时间(分钟)-->
    <add key="ModelCache" value="5"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="DefaultDatabaseConnectionString" connectionString="server=192.168.8.82;database=MCS_SYS;User Id=sa;pwd=meichis1!;"
      providerName="System.Data.SqlClient" />
    <add name="MCS_SYS_ConnectionString" connectionString="server=192.168.8.82;database=MCS_SYS;User Id=sa;pwd=meichis1!;"
      providerName="System.Data.SqlClient" />
    <add name="MCS_PUB_ConnectionString" connectionString="server=192.168.8.82;database=MCS_Reports;User Id=sa;pwd=meichis1!;" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultDatabaseConnectionString" connectionString="server=192.168.8.81;database=MCS_SYS;User Id=sa;pwd=meichis1!;"
      providerName="System.Data.SqlClient" />
    <add name="MCS_SYS_ConnectionString" connectionString="server=192.168.8.81;database=MCS_SYS;User Id=sa;pwd=meichis1!;"
      providerName="System.Data.SqlClient" />
    <add name="MCS_PUB_ConnectionString" connectionString="server=192.168.8.81;database=MCS_Reports;User Id=sa;pwd=meichis1!;" providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <system.web>
    <profile defaultProvider="SQLProfileSqlProvider" automaticSaveEnabled="true">
      <providers>
        <add name="SQLProfileSqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MCS_SYS_ConnectionString" applicationName="MCSFramework4"/>
      </providers>
      <properties>
        <add name="RealName" defaultValue="" allowAnonymous="false"/>
        <add name="StaffID" defaultValue="0" type="System.Int32" allowAnonymous="false"/>
      </properties>
    </profile>
    <membership defaultProvider="SQLMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="SQLMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MCS_SYS_ConnectionString" applicationName="MCSFramework4" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="20" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SQLMembershipProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SQLMembershipProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MCS_SYS_ConnectionString" applicationName="MCSFramework4"/>
      </providers>
    </roleManager>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add name="MCS_SYS" connectionStringName="DefaultDatabaseConnectionString" pollTime="10000"/>
          <add name="MCS_PUB" connectionStringName="MCS_PUB_ConnectionString" pollTime="10000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
</configuration>