.PageTop {
    /*background-image: url('../../Images/Yabais/Login_TopBar.png');
    height: 9px;*/    
}

.PageMiddle {
    /*background-image: url('../../Images/Yabais/Login_Background.jpg');    
    background-position:center;
    height: 667px;*/
    
}

.PageBottom {
    /*background-image: url('../../Images/Yabais/Login_BottomBar.png');
    height: 61px;*/
}
