<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--应用程序名称-->
    <add key="ApplicationName" value="MCSFramework4"/>
    <!--是否启用了数据库镜像功能，如果启用了该功能，则在运行存储过程时，系统会根据存储过程名称查找对应的数据库连接字符串来运行-->
    <add key="DatabaseMirrorEnabled" value="false"/>
    <!--是否记录数据库的存储过程运行日志-->
    <add key="WriteProcedureRunLog" value="false"/>
    <!--全局页面默认的标题-->
    <add key="PageTitle" value="南京美驰营销管理系统_V4"/>
    <!--Model实例保留在Cache中的时间(分钟)-->
    <add key="ModelCache" value="2"/>
    <!--是否写入Http Cache缓存日志-->
    <add key="WriteCacheLog" value="false"/>
    <!--软电话URL
    <add key="SoftPhoneURL" value="http://192.168.1.10/SoftPhone/SoftPhone.application"/>-->
    <!--上传的附件传放目录-->
    <add key="AttachmentPath" value="D:\Attachment"/>
    <!--上传的附件传最大大小(KB)-->
    <add key="MaxAttachmentSize" value="10240"/>
    <!--是否强制检查UrlReferrer，避免用户手动修改URL地址-->
    <add key="CheckRequstUrlReferrer" value="false"/>
    <!--桌面显示论坛的版块-->
    <add key="BBSBoard" value="3,4,5,6,7,8"/>
    <!--只有版主才可发布报告内容的板块-->
    <add key="BBSEditBoard" value="2"/>
    <!--桌面显示最新知识库的目录-->
    <add key="DesktopDisplayKBCatalog" value="2,100"/>
    <!--桌面显示最新知识库的目录,仅供非全体员工使用-->
    <add key="DesktopDisplayKBCatalog2" value="100"/>
    <!--门店销量、门店库存、经销商库存录入延迟天数-->
    <add key="JXCDelayDays" value="5"/>
    <!--门店进货(即经销商发货)录入延迟天数-->
    <add key="DIJXCDelayDays" value="0"/>
    <!--终端促销-非NKA-->
    <add key="ContractFeeType" value="4"/>
    <add key="ContractAccountTitle" value="73"/>
    <!--终端促销-NKA-->
    <add key="ContractFeeType-KA" value="5"/>
    <add key="ContractAccountTitle-KA" value="176"/>
    <!--物业租赁合同费用类型-->
    <add key="ContractFeeType-PD" value="2"/>
    <add key="ContractAccountTitle-PD" value="43"/>
    <!--终端返利费用类型-->
    <add key="ContractFeeType-FL" value="7"/>
    <!--导购管理费科目类别-->
    <add key="ContractFeeType-PromotorCost" value="7"/>
    <!--导购管理费科目类别-->
    <add key="ContractAccountTitle-PromotorCost" value="81"/>
    <!--赠品费用类型-->
    <add key="GiftFeeType" value="6"/>
    <!--车辆费用类型-->
    <add key="CarFeeType" value="2"/>
    <add key="CarAccountTitle" value="47"/>
    <!--差旅费费用类型-->
    <add key="EvectionFeeType" value="2"/>
    <!--中长途交通费-->
    <add key="EvectionCost1ACTitle" value="106"/>
    <!--住宿费-->
    <add key="EvectionCost2ACTitle" value="107"/>
    <!--补贴-->
    <add key="EvectionCost3ACTitle" value="196"/>
    <!--补贴-市内交通费-->
    <add key="EvectionCost4ACTitle" value="104"/>
    <!--补贴-的士费-->
    <add key="EvectionCost5ACTitle" value="105"/>
    <!--总部培训费-差旅费-->
    <add key="TrainingCost1ACTitle" value="108"/>
    <!--营业培训费-差旅费-->
    <add key="TrainingCost2ACTitle" value="198"/>
    <!--车辆费用-路桥费-->
    <add key="EvectionCost11ACTitle" value="119"/>
    <!--车辆费用-油费-->
    <add key="EvectionCost12ACTitle" value="120"/>
    <!--车辆费用-其他杂费-->
    <add key="EvectionCost13ACTitle" value="122"/>
    <!--管理费费用类型-->
    <add key="ManagementCostType" value="2"/>
    <!--电话费科目-->
    <add key="TeleCostACTitle" value="113"/>
    <!--电话费科目-->
    <add key="MobileCostACTitle" value="114"/>
    <!--营养教育费用类型-->
    <add key="CSOCostType" value="30"/>
    <!--营养教育新客费科目-->
    <add key="CSOOfferFeeACTitle" value="227"/>
    <!--费用申请提前天数-->
    <add key="FeeApplyForwardDays" value="0"/>
    <!--是否可以在一个申请单中申请多家店面费用-->
    <add key="FeeApplyMutiClientsFee" value="true"/>
    <!--是否在费用申请时，指定费用类型下的二级科目-->
    <add key="FeeApplyByAccountTitleLevel2" value="false"/>
    <!--最迟核销月份是当前月份的后几个月-->
    <add key="LastWriteOffMonth" value="3"/>
    <!--最低费用申请完成率，达以这个完成率才可批量审批-->
    <add key="MinFeeApplyCompleteRate" value="5"/>
    <!--管理片区中对应到地级城市的级别-->
    <add key="OrganizeCity-CityLevel" value="3"/>
    <!--桌面临时申请不显示的流程-->
    <add key="Desktop_EWF_GetDessionCondition" value="AppCode NOT LIKE 'FNA_FeeApplyFlow%' AND AppCode NOT IN('FNA_FeeWriteoffFlow','PM_SalaryApplyFlow','CuXiaoPin_Apply')"/>
    <!--冲调品牌ID-->
    <add key="MixesBrandID" value="66"/>
    <!--默认报表查看器的设置-->
    <add key="ReportViewerUser" value="administrator"/>
    <add key="ReportViewerPassword" value=""/>
    <add key="ReportViewerDomain" value=""/>
    <add key="ReportServerUrl" value="http://127.0.0.1/Reportserver"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultDatabaseConnectionString" connectionString="server=CHINGY-PC\SQL2008R2;database=MCS_SYS;User Id=sa;pwd=123;" providerName="System.Data.SqlClient"/>
    <add name="MCS_SYS_ConnectionString" connectionString="server=CHINGY-PC\SQL2008R2;database=MCS_SYS;User Id=sa;pwd=123;" providerName="System.Data.SqlClient"/>
    <add name="MCS_PUB_ConnectionString" connectionString="server=CHINGY-PC\SQL2008R2;database=MCS_Reports;User Id=sa;pwd=123;" providerName="System.Data.SqlClient"/>
    <add name="MCS_Reports_ConnectionString" connectionString="server=CHINGY-PC\SQL2008R2;database=MCS_Reports;User Id=sa;pwd=123;" providerName="System.Data.SqlClient"/>
    <add name="MCS_ATMT_ConnectionString" connectionString="server=CHINGY-PC\SQL2008R2;database=MCS_ATMT;User Id=sa;pwd=123;" providerName="System.Data.SqlClient"/>
    <!--<add name="MCS_CSO_ConnectionString" connectionString="server=192.168.8.15;database=MCS_CSO;User Id=sa;pwd=123;" providerName="System.Data.SqlClient"/>-->
    <add name="MirrorDatabaseConnectionString" connectionString="server=CHINGY-PC\SQL2008R2;database=MCS_SYS;User Id=sa;pwd=123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <identity userName="meichis" password="abc,123"/>
    <sessionState mode="StateServer"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="700" maxRequestLength="40960" appRequestQueueLimit="5000"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Forms">
      <forms name="MCSEMMPAuth" loginUrl="SubModule/Login/index.aspx" defaultUrl="SubModule/desktop.aspx" protection="None" timeout="216000" path="/"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-cn"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
    -->
    <customErrors mode="Off" defaultRedirect="SubModule/Desktop.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <membership defaultProvider="SQLMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="SQLMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MCS_SYS_ConnectionString" applicationName="MCSFramework4" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="20" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SQLMembershipProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SQLMembershipProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MCS_SYS_ConnectionString" applicationName="MCSFramework4"/>
      </providers>
    </roleManager>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add name="MCS_SYS" connectionStringName="MCS_SYS_ConnectionString" pollTime="10000"/>
          <add name="MCS_PUB" connectionStringName="MCS_PUB_ConnectionString" pollTime="10000"/>
          <add name="MCS_CSO" connectionStringName="MCS_CSO_ConnectionString" pollTime="10000"/>
          <add name="MCS_Reports" connectionStringName="MCS_Reports_ConnectionString" pollTime="10000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <!--
    SQL 缓存依赖项选项 启用数据库缓存
    aspnet_regsql -S <Server> -U <User> -P <Password> -d <Database> -ed[启用]/-dd[禁用]
    aspnet_regsql -S <Server> -U <User> -P <Password> -d <Database> -et[启用]/-dt[禁用] -t <Tablename>
    -->
    <pages styleSheetTheme="basic" enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="mcs" namespace="MCSFramework.UD_Control" assembly="MCSFramework.UD_Control"/>
        <add tagPrefix="mcs" assembly="MCSTabControl" namespace="MCSControls.MCSTabControl"/>
        <add tagPrefix="mcs" namespace="MCSControls.MCSWebControls" assembly="MCSTreeControl"/>
        <add tagPrefix="mcs" namespace="MCSControls.MCSWebControls" assembly="MCSSelectControl"/>
        <add tagPrefix="mcs" namespace="MCSControls.MCSWebControls" assembly="MCSMenuControl"/>
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="Shen Gang">
        <network host="smtp.163.com" password="" userName="hurry_sg"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- set secure paths -->
  <location path="Inc">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="SubModule">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="ChartImageHandler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>